@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.woff');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../fonts/Avenir-Medium.woff');
}
@font-face {
  font-family: 'Avenir-heavy';
  src: url('../fonts/Avenir-Heavy.woff');
}


:root {
  --primary-color: #2050F5;
  --secondary-color: #1b1b25;
  --bg-color: #f1f3fa;
  --warning: #e2da1e;
  --sucess: #1ee288;
  --error-color: #EA1525;
}

.header-div .h-btn {
    background: var(--primary-color);
    color: #ffffff;
    font-size: 14px;

    padding: 10px 26px;
    border-radius: 5px;
      font-family: 'Avenir-Black';
      display: inline-block;

}



.header-div .h-btn:hover{
      background: #4c72f6;

}

.fixedtop .header-div .h-login{
border: 1px solid #dcdcdc;
}
.fixedtop .header-div .h-login:hover{
border: 1px solid #ffffff;
}

.header-div .h-login{
background: #ffffff; border: 1px solid #ffffff; color: #000000;font-size: 14px;padding: 10px 26px;border-radius: 5px; margin: 0 14px 0;font-family: 'Avenir-Black';display: inline-block;
}

.header-div .h-login:hover{
  background: #fafafa;
}
.search-container button {
  background: #bfbfbf;
  color: #fff;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
      font-family: 'Avenir-Black';
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}


.search-container button.active-btn{
   color: #fff;
      background: var(--primary-color);
}

.search-container button.active-btn:hover{
      background: #4c72f6;

}


.signup-btn {
    padding: 20px 45px;
     font-family: 'Avenir-Black';
    background: #ffffff;
    margin: 30px 0 30px;
    display: inline-block;
    border-radius: 4px;
    color: var(--secondary-color);
}
.signup-btn:hover{
  background: #fafafa;
}


.get-listed {
    color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
    padding: 10px 27px;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin: 30px 0 0;
          font-family: 'Avenir-Black';

}
.get-listed:hover {
    background: #4c72f6;
}



.g-listed{
   color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
    margin: 30px 0 0;
    padding: 10px 27px;
  font-family: 'Avenir-Black';
    font-size: 13px;
    font-weight: 400;
    display: inline-block; cursor: pointer;
}
.g-listed:hover{
  background: #4c72f6;
}

.btn-outline,
.btn-filled {

  padding: 12px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #2563eb;
  transition: 0.3s; position: absolute; bottom: 30px; right: 0; left: 0; width: calc(100% - 60px); margin-inline: auto;
}
.btn-outline {
  background: transparent;
  color: #2563eb;
}
.btn-filled {
  background: #2563eb;
  color: #fff;
}

.btn-filled:hover{
    background: #4c72f6;

}

.btn-continue {
    background: #ACACB0;
    padding: 10px 40px;
    border-radius: 4px;
   font-family: 'Avenir-Black'; cursor: pointer;
}

button.btn-submit { color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
    margin: 30px 0 0;
    padding: 10px 60px;
      font-family: 'Avenir-medium';

    font-size: 17px;
    font-weight: 400;
    display: inline-block; cursor: pointer;}

button.btn-submit:hover{
      background: #4c72f6;

}


button.btn-back {
    border: 1px solid #d7dbec;
     border-radius: 5px; color: #000000;
    margin: 30px 20px 0 0;
    padding: 10px 60px; cursor: pointer;
      font-family: 'Avenir-medium';
}
button.btn-back:hover{
      border: 1px solid #ffffff;

}

.btn-home{
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #2563eb;
    color: #fff;
    background: var(--primary-color);
    width: 90%; margin-inline: auto;
}

.btn-home:hover{
      background: #4c72f6;

}



button.new-proj {
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    padding: 18px 26px;
    font-family: 'Avenir-Black';
    font-size: 16px;
    display: inline-block; cursor: pointer;
}

button.new-proj:hover{
        background: #4c72f6;

}


button.house-card-btn {
    background: #ffffff;
    border: 2px solid #000000;
    padding: 10px 20px;
    margin: 20px 0 20px;
    border-radius: 8px; cursor: pointer;
      font-family: 'Avenir-Black';
}

.add-proj{
    font-family: 'Avenir-Black';
  background: #ffffff;
    border: 2px solid #2050f5;
    padding: 10px 20px; color: #2050f5;
    margin: 20px 0 20px;
    border-radius: 8px; cursor: pointer; text-transform: capitalize;
}

.detail-btn{
  background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    padding: 18px 26px; line-height: 1;
   
    font-size: 16px;
    display: inline-block; cursor: pointer;
}

.detail-btn:hover{
        background: #4c72f6;

}

/* ---------------------------------------- */
@media (max-width: 1204px) {


.header-div .h-login{
    margin-inline: 10px;
}

}

@media (max-width: 600px) {
.search-container button{font-size: 15px;padding: 15px 22px;}
.header-div .h-btn{padding: 10px 15px;}
.header-div .h-login{padding: 10px 15px;}
}




@media (max-width: 480px) {
.header-div .h-btn{display: none;}
.header-div .h-login{margin: 0;}
}