
@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.woff');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../fonts/Avenir-Medium.woff');
}



.seeker-dashboard1 .footer .containers,
.prov-dashboard .footer .containers,
.directory .footer .containers,
.public .footer-container.containers
 {
   justify-content: flex-start;
    gap: 9%;
    width: 100%;
    max-width: 100%;
    max-width: 100%;
    padding-inline: 250px;
}


.footer {
  background-color: #fff;
  color: #000;
  padding: 100px 0px 30px;
  font-family: 'Avenir-Book';
  float: left;
  width: 100%;
}



.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 120px;

}

.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.footer p {
  color: #555;
  font-size: 14px;
  line-height: 1.6;
  margin: 5px 0;
}

.footer-column h4 {
  font-size: 16px;
  font-family: 'Avenir-medium';

  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 5px 0;
}

.footer-column ul li a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  text-transform: capitalize;
}

.footer-column ul li a:hover {
  color: #000;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}



/* Divider line */
.footer-line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 0px 0 20px;
}

/* Bottom Section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #555;
  position: relative;
}

/* Language Switcher */
.language-switcher {
  position: relative;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  color: #333;
}

.flag-icon {
  border-radius: 50%;
}

.arrow-icon {
  margin-top: 1px;
  stroke-width: 2px;
}

.dropdown {
  position: absolute;
  bottom: 25px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  font-size: 13px;
  background: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background: #f5f5f5;
}



.footer-logo {
    width: 100px;
    margin: 0 0 30px;
}

.footer-logo a img {
    width: 100%;
    display: block;
}

.footer-about.footer-column span{display: block;}
.f-ss {
    background: #000000;
    border-radius: 50%; width: 30px; height: 30px;
        display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container.containers > div:last-child{
  margin-right: 0 !important;
}

.public .footer-container.containers {
    width: 100%;
    padding-inline: 250px;
    max-width: 100%;
    margin-inline: 0;
}

/* ----------------responsive------------------------------------------------------------------------ */




/* ---------------------------------------------------------- */



@media (max-width: 1702px) {

.seeker-dashboard1 .footer .containers, .prov-dashboard .footer .containers, .directory .footer .containers{gap: 7%;}

}


/* --------------------------------- */



@media (max-width: 1600px) {


.seeker-dashboard1 .footer .containers,
.prov-dashboard .footer .containers,
.directory .footer .containers {gap: 5%;}



}



/* --------------------------------------------- */


@media (max-width: 1500px) {

.footer-container.containers > div {
    margin-right: 2.9%;
}
.footer-container.containers > div:last-child {
    margin-right: 0%;
}
.public .footer-container.containers,
.seeker-dashboard1 .footer .containers,
.prov-dashboard .footer .containers,
.directory .footer .containers{gap: 0;}

.seeker-dashboard1 .footer .footer-about.footer-column,
.prov-dashboard .footer .footer-about.footer-column,
.directory .footer .footer-about.footer-column{
max-width: 250px;}

.seeker-dashboard1 .footer .footer-about.footer-column span,
.prov-dashboard .footer .footer-about.footer-column span,
.directory .footer .footer-about.footer-column span{
 display: inline;
}


}


/* ---------------------------------- */



@media (max-width: 1400px) {

.seeker-dashboard1 .footer .footer-about.footer-column,
.prov-dashboard .footer .footer-about.footer-column,
.directory .footer .footer-about.footer-column
{
max-width: 168px;}

.footer p{font-size: 13px;}

}

/* --------------------------------------------------------------------- */



@media (min-width: 1241px) and (max-width: 1340px){


.public .footer-container.containers {
    width: 100%;
    margin-inline: 0;
    padding-inline: 220px;
    max-width: 100%;
}

}


/* ---------------------------------------------------------- */
@media (min-width: 1025px) and (max-width: 1240px){


.public .footer-container.containers
{justify-content: space-between;
    width: 100%;
    margin-inline: 0;
    padding-inline: 20px;
    max-width: 100%;
}
.seeker-dashboard1 .footer .containers,
 .prov-dashboard .footer .containers,
  .directory .footer .containers{
 width: 100%;
    margin-inline: 0;
    padding-inline: 20px;
    max-width: 100%; justify-content: space-between;
}

.footer-container{margin-bottom: 90px;}

}



/* ----------------------------- */

@media (max-width: 1024px) {


.footer{padding: 80px 0 20px;}
.footer-container{
  margin-bottom: 80px;
}

}



/* --------------------------------------------------------------- */
@media (min-width: 901px) and (max-width: 1024px){

.public .footer-container.containers
 {
    width: 100%; justify-content: space-between;
    margin-inline: 0;
    padding-inline: 20px; gap: 0;
}

.seeker-dashboard1 .footer .containers,
 .prov-dashboard .footer .containers,
 .directory .footer .containers{padding-inline: 20px !important;
  width: 100%;
    margin-inline: 0; justify-content: space-between;

}

}
/* ----------------------------------------------- */

@media (min-width: 768px) and  (max-width: 900px){
.footer-container .footer-about.footer-column {
    width: 25%;
}
    .footer-container.containers > div {
        margin-right: 2.4% !important;
    }
    .footer-container{
      justify-content: space-between;
    }
.public .footer-container.containers,
.prov-dashboard .footer{padding-inline: 20px; gap: 0;
}

.seeker-dashboard1 .footer .containers,
 .prov-dashboard .footer .containers,
 .directory .footer .containers{padding-inline: 20px !important;}

}
/* -------------------------------------------------------------- */


@media (max-width: 767px) {
.footer-about.footer-column {width: 100%; margin: 0 0 40px; max-width: 100%;}
.footer-about.footer-column span{display: inline;}



.seeker-dashboard1 .footer .footer-about.footer-column,
 .prov-dashboard .footer .footer-about.footer-column,
 .directory .footer .footer-about.footer-column{max-width: 100% !important;}

.footer{padding-top: 50px;}
.footer-logo{margin: 0 0 15px;}
.footer-container{margin-bottom: 50px;}

.public .footer-container.containers,
.prov-dashboard .footer .containers{padding-inline: 5%;}

}


@media (max-width: 600px) {


.footer-about.footer-column {
    width: 100%;
}

.footer-column.f-links {
    width: 50%;
    margin: 0 0 20px;
}
.footer-container{margin-bottom: 10px;}

.footer {
        padding-bottom: 15px;
    }
    .footer-line {

    margin: 0 0 15px;
}

}



/* --------------------------------------------- */

@media (max-width: 600px) {

.footer-column.f-links{width: 100%;}

}


/* --------------------------------------- */

@media (max-width: 480px) {


}


/* --------------------------------------- */