

.seeker-dashboard1 .header-div,
.directory .header-div,
.prov-dashboard .header-div,
.public .header-div

 {
    background: #ffffff;
}

.prov-dashboard .header ,
.public .header
{
    padding-top: 0;
    background: #ffffff;
}




.seeker-dashboard1 .header .containers ,
.prov-dashboard .header .containers,
.directory .header .containers,
.public .header .containers
{
    width: 100%;
    max-width: 100%;
    padding-inline: 250px;
}





.seeker-dashboard1 .header .header-div,
.prov-dashboard .header .header-div,
.directory .header .header-div,
.public .header .header-div
{padding-inline: 0;}



.seeker-dashboard1 .loged-inn-div > .loged-inn-div,
.prov-dashboard .loged-inn-div > .loged-inn-div,
.directory .loged-inn-div > .loged-inn-div,
.public .loged-inn-div > .loged-inn-div
 {
    background: #ffffff;
}


.seeker-dashboard1 .loged-inn-div > .loged-inn-div:hover,
.prov-dashboard .loged-inn-div > .loged-inn-div:hover,
.directory .loged-inn-div > .loged-inn-div:hover,
.public .loged-inn-div > .loged-inn-div:hover
 {
  background: #f1f3fa;
}



.seeker-dashboard1 .header,
.directory .header
 {
    padding-top: 0;
}


/* -------------------------- */
















.header {
    background-color: #ffffff;
    padding: 50px 0 0px; transition: all 0.4s ease-in-out;
    border-bottom: 1px solid #ffffff;

}

.header-div {
    background: #f1f3fa;
    padding: 22px 30px;
    border-radius: 12px;

}


.header-div {
    display: flex;
    align-items: center;
}



.header-text p {
    font-size: 14px;
}

.header-logo {
    width: 100px;
}


.header-col1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-text {
    margin-inline: 30px;
    display: none;
}

.header-div:has(.loged-inn-div) .header-text {
    display: block;
}
.header-logo a {
    width: 100%;
       outline: none;
    border: none;
}

.header-logo a img {
    width: 100%;
    object-fit: contain;
}

.languade-switcher-div button {
    background: none;
    border: none;
}

 .header-col2 {
    display: flex;
    align-items: center;
}





.header.fixedtop {
    position: fixed; background: #ffffff;
    top: 0;
    left: 0;
    width: 100%; z-index: 9999; padding: 0;
    margin-bottom: 0; border-bottom: 1px solid #ebeaea;
}

.header.fixedtop  .header-div{background-color: #ffffff;}


body{position: relative;}

.desk-header {display: none;}

.mob-header {display: block;}



/* --------------------------------resp--------------------------------------------- */
@media (max-width: 1340px) {

        .seeker-dashboard1 .header .containers ,
.prov-dashboard .header .containers,
.directory .header .containers,
.public .header .containers
{

    padding-inline: 220px;
}


}
/* ----------------------------------------------------------------------------- */
@media (max-width: 1240px) {


}

/* ------------------------------------- */

@media (min-width: 1025px) and (max-width: 1240px) {

    .seeker-dashboard1 .header .containers ,
.prov-dashboard .header .containers,
.directory .header .containers,
.public .header .containers
{

    padding-inline: 20px;
}
}


/* --------------------------------------------------------------- */

@media (max-width: 1024px) {
.header-text {margin-inline: 14px;}

.header {padding: 30px 0 60px;}


.header.fixedtop .header-div {
        padding: 22px 0px;


}

.header-div {
    padding: 22px 22px;}

}

/* ----------------------------------------------------- */

@media (min-width: 901px) and (max-width: 1024px) {

    .seeker-dashboard1 .header .containers ,
.prov-dashboard .header .containers,
.directory .header .containers,
.public .header .containers
{

    padding-inline: 20px;
}


}

/* -------------------------------------------------------------- */

@media(max-width: 900px) {


.desk-header {display: none;}

.mob-header {display: block;}

}
/* ----------------------------------------------------------------- */


@media (min-width: 768px) and (max-width: 900px) {

    .seeker-dashboard1 .header .containers ,
.prov-dashboard .header .containers,
.directory .header .containers,
.public .header .containers
{

    padding-inline: 20px;
}
}


/* ------------------------------------------------------------------- */

@media (max-width: 767px) {

    .header-div {
        padding: 12px 12px 12px 20px;
    }

.header {padding: 20px 0 40px;}

.header-text{
    display: none; margin: 0;
}



.seeker-dashboard1 .header .containers ,
.prov-dashboard .header .containers,
.directory .header .containers,
.public .header .containers
{

    padding-inline: 5%;
}


}
