


.header {
    background-color: #ffffff;
    padding: 50px 0 0px; transition: all 0.4s ease-in-out; 
    border-bottom: 1px solid #ffffff;
    
}

.header-div {
    background: #f1f3fa;
    padding: 22px 30px;
    border-radius: 12px;
   
}


.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header-text p {
    font-size: 14px; display: none;
}

.header-logo {
    width: 100px;
}


.header-col1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-text {
    margin-inline: 30px;
}


.header-logo a {
    width: 100%;
       outline: none;
    border: none;
}

.header-logo a img {
    width: 100%;
    object-fit: contain;
}

.languade-switcher-div button {
    background: none;
    border: none;
}

 .header-col2 {
    display: flex;
    align-items: center;
}





.header.fixedtop {
    position: fixed; background: #ffffff;
    top: 0;
    left: 0;
    width: 100%; z-index: 9999; padding: 0;
    margin-bottom: 0; border-bottom: 1px solid #ebeaea;
}

.header.fixedtop  .header-div{background-color: #ffffff;}


body{position: relative;}






@media (max-width: 1024px) {
.header-text {margin-inline: 14px;}

.header {padding: 30px 0 60px;}

}













@media (max-width: 767px) {
.header-div {
    padding: 12px 12px;
}


.header {padding: 20px 0 40px;}

.header-text{
    display: none; margin: 0;
}

}
