@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.woff');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../fonts/Avenir-Medium.woff');
}
@font-face {
  font-family: 'Avenir-heavy';
  src: url('../fonts/Avenir-Heavy.woff');
}




:root {
  --primary-color: #2050F5;
  --secondary-color: #1b1b25;
  --bg-color: #f1f3fa;
  --warning: #e2da1e;
  --sucess: #1ee288;
  --error-color: #EA1525;
}

*{box-sizing: border-box; margin: 0; padding: 0;}

a{transition: all 0.5s ease-in-out;}
p {
    font-size: 16px;
    color: var(--secondary-color);
}


strong{
  font-weight: 700;
      font-family: 'Avenir-Black';
}



.banner-div p {font-size: 18px;}
button{transition: all 0.5s ease-in-out;}

.containers{
  max-width: 1160px;
  margin-inline: auto;
}

body{
  font-family: 'Avenir-Book';
  background: #ffffff;
}

button:focus {
    border: none !important;
    outline: none !important;
}
a:focus {
    border: none !important;
    outline: none !important;
}

.banner-div h2 {
    font-size: 64px;
    color: var(--secondary-color);
    margin: 0 0 22px; line-height: 1.4;
    font-family: 'Avenir-Black';

}

.banner-div {
    text-align: center;
    max-width: 800px;
    margin-inline: auto; margin-bottom: 80px; margin-top: 70px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 768px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 6px;
  margin: 30px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px 16px;
  font-size: 14px;
  color: #333;
  border-radius: 8px;
}



.search-container input::placeholder {
  color: #aaa;
}


.ready-div {
    padding-bottom: 80px;
}
.readt-sec{
padding: 0px 0; color: #ffffff;
}


.bg-blue1{
background: linear-gradient(to top, #2050F5 0%, #2050F5 50%, #ffffff 50%, #ffffff 100%);

}



.bg-dark-blue{
background: var(--primary-color);
padding: 80px 0 0;
}


.ready-div h2 {
    font-size: 40px;
    margin: 0 0 20px;
    max-width: 560px;
}
.ready-div p {

    max-width: 560px;
}

.b-text h4{
  color: var(--secondary-color);
      margin-bottom: 12px; font-size: 21px;
        font-family: 'Avenir-medium';

}




.blue-card {
    display: flex; flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-inline: auto;
}


.blue-card .b-card {
    width: 23.5%;
   }






.blue-card .b-img img {
    width: 100%;
}

.cards-wrapp {
    margin: 0 0 0px;
}

.ready-div h3 {
  font-size: 64px;
  margin: 0 0 12px; line-height: 1.3;
}
.ready-div h3 span {
    display: block;
}


.ready-div p span {
  display: block;
}


.ready-div p{color: #ffffff; font-size: 18px;}



.ready-div h6{color: #ffffff; font-size: 14px;}









.business-div1 h3 {
    font-size: 48px;
    margin: 0 0 12px; line-height: 1.3;
    color: var(--secondary-color);
}

.business-div1 h3 span{display: block;}


.business-div1 p {

    max-width: 473px;
}


.faq-container {
    border-top: 1px solid #ddd;
}


.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
}

.faq-item:last-child{border-bottom: none;}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; color: #ffffff;

}

.faq-question .icon {
  transition: transform 0.3s ease;
  font-weight: bold;
  font-size: 44px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0;
}

.faq-answer p {
  margin: 10px 0; color: #ffffff;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 10px 0;
}

.faq-item.active .faq-question .icon {
  transform: rotate(180deg);
  color: #ffffff;
}

.accod-btn a {
    font-size: 14px;
}
.accod-btn {
    display: flex;
    justify-content: flex-end;
}





.faq-section .arrow {
    color: #000000;
        margin-right: 5px;

    &::after {
        display: inline-block;
        padding-left: 8px;
        content: "\0279E";
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    &:hover {
        color: var(--primary-color);


        &::after {
            -webkit-transform: translateX(4px);
            -moz-transform: translateX(4px);
            -ms-transform: translateX(4px);
            -o-transform: translateX(4px);
            transform: translateX(4px);
        }
    }
}










.business-wrap {
    padding: 100px 0 400px;
    background: #F1F3F9; 
}

.businerr-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; align-items: flex-start;
}

.business-div1 {
    width: 60%; position: sticky; top: 100px;
}

.business-div2 {
    width: 32%; position: relative;
}

.business-b-out {
    position: -webkit-sticky;
    position: sticky;
    transform: translateY(10px);
    top: 100px;
}

.business-b-out:first-child {
    margin-top: 0;
}

.business-b-out:nth-child(2) {
    transform: translateY(140px);
    margin-top: -140px;
}

.business-b-out:nth-child(3) {
       margin-top: -140px;
    transform: translateY(270px);
}

.business-block {
    padding: 30px 30px 60px;
    background: #ffffff;
    margin: 0 0 30px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 -4px 12px rgba(0, 0, 0, .1); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.business-block:hover {
    box-shadow: 0 10px 30px hsla(217, 91%, 60%, 0.2);
    border: 1px solid var(--primary-color);
}

/* .business-block:first-child {
top: 100px; 
}


.business-block:nth-child(2) {
top: 230px;
}


.business-block:nth-child(3) {
top: 350px; 
}

.business-block:nth-child(4) {
top: 400px;  opacity: 0;

} */




.content-top {
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 40px;
}

.outer-imgb {
    width: 80px;
}

.outer-imgb img {
    width: 100%;
    display: block;
}

.content-top h3 {
    font-size: 19px;
    width: calc(100% - 80px);
    padding-left: 18px;
    color: var(--secondary-color);
      font-family: 'Avenir-heavy';

}
.content-top h3 span{display: block;}
.content-top h3 span{
  display: block;
}













/* ------------------- */



.business-section {
  width: 100%;
  overflow-x: hidden;
}

.block_top {
  background: #213f29;
  height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 50px;
}

.next_block {
  background: #213f29;
  height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 0px;
  border-radius: 50px;
}

.cards {
  position: relative;
  height: 100vh;
}

.custom-card {
  position: absolute;
  width: 100%;
  height: 85vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.card1 {
  background-color: darkcyan;
  z-index: 2;
}
.card2 {
  background-color: aliceblue;
  z-index: 3;
}
.card3 {
  background-color: green;
  z-index: 4;
}

.spacer {
  height: 50vh;
}




.faq-section{
  background: var(--primary-color);
  padding: 100px 0; position: relative;
     width: 100%;
    float: left;
}


.faq-section h3 {
    margin: 0 0 50px; color: #ffffff;
    font-size: 64px; line-height: 1.3;
}

.faq-section h3 span {
    display: block;
}




.form-c h3{
  text-align: center; line-height: 1.2;
  color: var(--secondary-color);
    margin: 0 0 20px;
     font-family: 'Avenir-Black';

    font-size: 36px;
}
.form-c p{
  text-align: center;
}

.form-c {
    max-width: 800px;
    margin-inline: auto;
}
.form-c form{margin-top: 40px;}

.btn-cvr{display: flex; justify-content: flex-end; flex-wrap: wrap; margin: 20px 0 0;}

.btn-cvr .login-btn{width: 450px;}

.b-card .b-img {border-radius: 11px;overflow: hidden;}







.chooseplan h3 {
    text-align: center;
    font-size: 28px;
      font-family: 'Avenir-medium';
}
.business-div21 {
    display: flex;
    flex-wrap: wrap;
}

.get-listedpage .business-b-out {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 0; position: static !important; transform: none !important; margin-top: 0 !important; margin-bottom: 10px;
}

.get-listedpage .business-div21 .business-b-out:nth-child(2n)
{
  transform: translateY(-40px) !important;
}


.get-listedpage .business-b-out .business-block {
    height: 100%; padding-bottom: 20px; box-shadow: none;
}


.get-listedpage .business-b-out:nth-child(2n) {
    transform: translateY(-30px);
}

.get-listedpage .business-b-out:nth-child(3n) {
    margin-right: 0;
}


.pricing-container {
  display: flex;
  flex-wrap: wrap; justify-content: center;
}

.pricing-card {
  border: 1px solid #e4e8ef; width: 41%;
  border-radius: 16px;
  padding: 30px 30px 150px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.3s; margin: 0 0.9%; position: relative;
}


.chooseplan {
    padding-bottom: 200px;
 background: linear-gradient(
    to top,
    #f1f3fa 0%,               
    rgba(241, 243, 250, 0) 100% 
  );
  display: none;
}
.highlighted {
  border: 1.5px solid #2563eb;
  box-shadow: 0 5px 18px rgba(37, 99, 235, 0.2);
}

.plan-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.price {
  font-size: 48px;
 color: #000000;
}

.per-month {
  font-size: 1rem;
  color: #888;
  font-weight: 400;
}


hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 20px 0;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.features li {
  margin: 10px 0; color: #000000; position: relative; padding-left: 28px;

}
.features li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background: url("../../../public/images/checkimg.svg") no-repeat center;
  background-size: contain;
}

.features button.info-btn {
    position: absolute;
    right: 0;
    bottom: 0; cursor: pointer;
}
.features button.info-btn img {object-fit: contain;}



.recommended {
  position: absolute;
  top: -10px;
  left: 94px;
  transform: translateX(-50%);
  background: #e0ebff;
  color: #2050f5;
  font-size: 12px;
  padding: 5px 24px;
  border-radius: 4px;
  font-weight: normal;
  font-family: 'Avenir-medium';

}





.g-list .banner-div h2 span {
    display: block;
}




.g-list .banner-div p {
    max-width: 735px;
    margin-inline: auto;
}


.chooseplan h3{
    font-family: 'Avenir-medium';
    font-size: 48px; color: #000000; margin: 0 0 50px;

}



.pricing-card h3{
  font-size: 40px; text-align: left;
  font-family: 'Avenir-Book';
  margin: 0 0 20px; font-size: 24px; font-weight: normal;
}

.banner-wrapp.g-list {
    width: 100%;
    float: left;
    margin-bottom: 60px;
}

.how-help {padding: 180px 0; text-align: center;  
      background: #f1f3fa;
          width: 100%;
    float: left;
}
.ch-col{
        background: #f1f3fa;
         /* background: linear-gradient(
    to top,
    #f1f3fa 0%,               
    rgba(241, 243, 250, 0) 100% 
  ); */
  padding-top: 160px;
  width: 100%;
    float: left;

}


.how-help h2{
  font-size: 48px; margin: 0 0 20px; color: #000000;
}
.how-help p{margin-inline: auto; max-width: 425px;}

.build-outer {
    padding: 80px 0 250px;
    text-align: center;
         width: 100%;
    float: left;
}
.buildimg-outer img {
    width: 100%;
        /* box-shadow: 0 0 200px 200px rgba(255 255 255 / 0.95); */
}
.buildimg-outer {
    max-width: 900px;
    margin-inline: auto; position: relative;
}

.build1 h4 {
    font-size: 32px;
    color: #000000;
    margin: 0 0 14px;
}
.build1 {
    position: relative;
    z-index: 9;
}
.build1 p {
    max-width: 571px;
    margin: 0 auto 30px;
}
.build-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.build-card .img-b{width: 63%;
position: relative;
    z-index: 99;}

.build-card .text-areab{width: 28%;}


.h-outer {
    padding: 200px 0 100px;
        width: 100%;
    float: left;
}

.build-card .img-b img{width: 100%;}


.h-div .h-div1:first-child .build-card {flex-direction: row-reverse; }
.text-areab h4 {
    color: #000000;
    margin: 0 0 14px; font-size: 32px;
}

.build-grad{position: relative;}
.h-div .h-div1{
padding-block: 60px;
}

.h-div .h-div1:first-child:first-child{
  position: relative; margin-bottom: 180px; 
}

.h-div .h-div1:first-child:first-child::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  /* transform: translate(-50%, -50%); */
  width: 63%;
  height: 100%;
 
   /* background: linear-gradient(
    90deg,
    #ffffff 0%,       
    #ffffff 60%,     
    #8c9fdd 85%,      
    #2050f5 100%     
  ); */

    background: url("../../../public/images/bg1.jpg") no-repeat center / cover;
  z-index: -1;
}






.h-div .h-div1:nth-child(2){
  position: relative;
}

.h-div .h-div1:nth-child(2)::after{
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 39%; 
  height: 100%;
  /* background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #2050f5 100%); */
    background: url("../../../public/images/bg2.jpg") no-repeat center / cover;
  border-radius: 0 30px 30px 0;
  z-index: 9;
}


.build-grad::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 55%;
  /* background: linear-gradient(
    90deg,
    rgba(99, 119, 255, 0) 0%,
    rgba(99, 119, 255, 0.25) 20%,
    rgba(99, 119, 255, 0.25) 80%,
    rgba(99, 119, 255, 0) 100%
  );

  border-radius: 200px;
  filter: blur(0px); */
  z-index: -1;
    background: url("../../../public/images/bg3.jpg") no-repeat center / cover;

}



.sp-banner{
  background: url("../../../public/images/signup-bg.jpg") no-repeat center / cover;
}


.serv-signup .header {
    padding: 0;
}
.serv-signup .header-div{background: #ffffff; padding: 30px;}

.sp-banner {
    padding: 80px 0 200px;
}

.provider-intro p {
    color: #e5e5e5;
}
.provider-intro h3 {
    font-size: 30px;
    margin: 0 0 20px;
    font-family: 'Avenir-Black';
}


.provider-intro p span{
  display: block;
}

.company-form h2 {
    color: #000000;
      font-family: 'Avenir-Black';
      font-size: 22px; margin: 0 0 20px;

}
.company-form h3 span {
    color: #838289;
     

}

.company-form h3 {
    color: #000000;
      font-family: 'Avenir-Black'; font-size: 20px;
       margin: 0 0 10px;

}
.serv-prov-form {
    background: #ffffff;
    max-width: 900px;
    margin-inline: auto;
    transform: translateY(-149px);
    /* margin-top: -150px; */
    padding: 50px;
    border-radius: 20px;
        padding-bottom: 0;
}


 .feedback-wrapper {
  position: relative;
 
}
.serv-prov-form {
  position: relative;
  z-index: 1;
}

.serv-prov-form::after {
  content: "";
  position: absolute;
  top: -28px; 
  left: 0;
  width: 100%;
  height: 20px; /* thickness of shadow area */
  background: rgba(0, 0, 0, 0.85); /* even dark tone */
  filter: blur(18px); /* smooth blur to spread evenly */
  border-radius: 50%; /* soft curve to prevent side bleed */
  pointer-events: none;
  z-index: -1;
}

.step {
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;
  position: absolute;
  width: 100%;
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}


.step.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  position: relative;
  transition-delay: 0.1s;
} 








/* Wrapper layout */
.tab-wrapper {
  display: flex;
/* background: red; */
  min-height: 80vh; color: #000000; margin-top: 70px;
}

/* Sidebar tabs */
.tab-nav {
  list-style: none;
  margin: 0;
  padding: 0 40px;
  width: 270px; border-right: 1px solid #e0e0e0;

}
.tab-nav li{margin: 0 0 10px;}

.tab-nav li button{font-size: 16px; width: 100%; text-align: left; 
      padding: 12px 20px; cursor: pointer; transition: all 0.4s ease-in-out; border-radius: 12px;
}
.tab-nav li button.active{
  background: #F0F2FB; color: #2050f5;
    font-family: 'Avenir-medium';

}

/* Content area */
.tab-content-wrap {
  flex: 1;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}
.tab-panel {
  position: absolute;
  opacity: 0;
  transform: translateY(40px);
  visibility: hidden;
  transition: all 0.8s ease-in-out; background: #ffffff;
}
.tab-panel.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  position: relative;
}


.intro-tab {
    margin: 0 0 30px;
}



.tab-content-wrap h3{
    font-family: 'Avenir-Black'; line-height: 1;
    font-size: 28px; margin: 0 0 10px;

}

.prov-dashboard .header {
    padding-top: 0;
    background: #ffffff;
}
.prov-dashboard .header-div{

    background: #ffffff;
}




.provider-intro {
    max-width: 900px;
    margin-inline: auto;
}



.tab-content-wrap.serv-seeker{
    max-width: 1340px;
}


.tab-content-wrap.serv-seeker .tab-panel {
    width: 100%;
    max-width: 1260px;
 
}
.seeker-tab-content{width: 100%;}

.seeker-col1{width: 100%; 
  display: flex; flex-wrap: wrap; justify-content: space-between;}



  .seeker-dashboard1 .header {
    padding-top: 0;
}

.seeker-dashboard1 .header-div {
    background: #ffffff;
}




.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #F5F6FE;
  color: #333;
  text-align: center;
  padding: 15px 15px;
  border-radius: 6px;
  font-size: 16px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  z-index: 10;
      width: 366px;
    white-space: pre-wrap; text-align: left;
}

.info-btn:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.business-div21 .content-top h3{
padding-left: 16px;
}

.contact-div .form-c p {
    font-size: 20px;
}



.g-listbanner {
    margin-top: 100px;
}















.loged-inn-div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.user-logo img {
  border-radius: 50%;
}

.user-name p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.user-dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 0px 0;
  z-index: 100;
}

.user-dropdown a,
.user-dropdown button {
  background: none;
  border: none;
  text-align: left;
  padding: 10px 16px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.user-dropdown a:hover,
.user-dropdown button:hover {
  color: #2050f5;
    background: #f0f2fb;
}


.user-name p {font-size: 18px;
  font-family: 'Avenir-medium';
}

.user-logo{border-radius: 50%; overflow: hidden; width: 40px; height: 40px;}


.user-logo img{width: 100%; height: 100%; object-fit: contain;}





/* ------------------------------------responsive */




@media (max-width: 1340px) {

}

/* ----------- */



@media (max-width: 1240px) {


.containers{width: 94%;}




}

/* ----------- */



@media (max-width: 1024px) {


.faq-section,
.business-wrap{padding: 80px 0;}
.ready-div{padding-bottom: 80px;}
.bg-dark-blue{padding-top: 80px;}
.blue-card {gap: 0;justify-content: space-around;}
.blue-card .b-card {width: 32.2%;}
.business-div2 {width: 40%;}

.banner-div h2,
.ready-div h3,
.business-div1 h3,
.faq-section h3  {font-size: 46px;}
.faq-question{font-size: 30px;}
.faq-question .icon {font-size: 38px;}
.pricing-card{width: 44%;}
}


/* ----------- */


@media (max-width: 900px) {
.business-block{padding: 20px;}
.content-top{margin: 0 0 20px;}
.outer-imgb {width: 70px;}
.content-top h3 { width: calc(100% - 70px);}

.pricing-card{width: 48%;}

}

/* ----------- */


@media (min-width: 768px) {

}

/* ----------- */


@media (max-width: 767px) {

.containers{width: 90%;}


.faq-section,
.business-wrap{padding: 50px 0;}
.ready-div{padding-bottom: 50px;}
.bg-dark-blue{padding-top: 50px;}
.blue-card {gap: 0;justify-content: space-around;}
.blue-card .b-card {width: 30%;}
.business-div1{width: 100%; margin: 0 0 50px;}

.business-div2{width: 100%;}

.bg-blue1{background: var(--primary-color); padding-top: 50px;}

.business-block {
    width: 70%;
    margin-inline: auto;
}


.banner-div h2,
.ready-div h3,
.business-div1 h3,
.faq-section h3  {font-size: 36px;}


.faq-section h3 {line-height: 1.4;}


.banner-div p,
.ready-div p {font-size: 14px;}

p {font-size: 14px;}
.b-text h4{font-size: 17px; margin: 0 0 10px;}
.faq-question {font-size: 24px;}

.faq-question .icon {font-size: 30px;}
.banner-div{margin: 0 0 50px;}

.faq-item{padding: 0 0;}
}

/* ----------- */



@media (max-width: 600px) {
.blue-card .b-card {
    width: 80%;margin: 0 auto 40px;
}
.blue-card .b-card:last-child{margin-bottom: 0;}
.business-block {width: 80%;}

}


/* ----------- */

@media (max-width: 480px) {
.business-block {width: 100%;}
.search-container button {padding: 15px 20px;}
.search-container input {padding: 12px 12px;}
.blue-card .b-card {
    width: 100%;
}

}
















