@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.woff');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../fonts/Avenir-Medium.woff');
}
@font-face {
  font-family: 'Avenir-heavy';
  src: url('../fonts/Avenir-Heavy.woff');
}




:root {
  --primary-color: #2050F5;
  --secondary-color: #1b1b25;
  --bg-color: #f1f3fa;
  --warning: #e2da1e;
  --sucess: #1ee288;
  --error-color: #EA1525;
}

*{box-sizing: border-box; margin: 0; padding: 0;}

a{transition: all 0.5s ease-in-out;}
p {
    font-size: 16px;
    color: var(--secondary-color);
}

.banner-div p {font-size: 18px;}
button{transition: all 0.5s ease-in-out;}

.containers{
  max-width: 1160px;
  margin-inline: auto;
}

body{
  font-family: 'Avenir-Book';
  background: #ffffff;
}

button:focus {
    border: none !important;
    outline: none !important;
}
a:focus {
    border: none !important;
    outline: none !important;
}

.banner-div h2 {
    font-size: 64px;
    color: var(--secondary-color);
    margin: 0 0 22px; line-height: 1.4;
    font-family: 'Avenir-Black';

}

.banner-div {
    text-align: center;
    max-width: 800px;
    margin-inline: auto; margin-bottom: 80px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 768px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 6px;
  margin: 30px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px 16px;
  font-size: 14px;
  color: #333;
  border-radius: 8px;
}



.search-container input::placeholder {
  color: #aaa;
}


.ready-div {
    padding-bottom: 80px;
}
.readt-sec{
padding: 0px 0; color: #ffffff;
}


.bg-blue1{
background: linear-gradient(to top, #2050F5 0%, #2050F5 50%, #ffffff 50%, #ffffff 100%);

}



.bg-dark-blue{
background: var(--primary-color);
padding: 80px 0 0;
}


.ready-div h2 {
    font-size: 40px;
    margin: 0 0 20px;
    max-width: 560px;
}
.ready-div p {

    max-width: 560px;
}

.b-text h4{
  color: var(--secondary-color);
      margin-bottom: 12px; font-size: 21px;
        font-family: 'Avenir-medium';

}




.blue-card {
    display: flex; flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-inline: auto;
}


.blue-card .b-card {
    width: 23.5%;
   }






.blue-card .b-img img {
    width: 100%;
    height: 100%;
}

.cards-wrapp {
    margin: 0 0 0px;
}

.ready-div h3 {
  font-size: 64px;
  margin: 0 0 12px; line-height: 1.3;
}
.ready-div h3 span {
    display: block;
}


.ready-div p span {
  display: block;
}


.ready-div p{color: #ffffff; font-size: 18px;}



.ready-div h6{color: #ffffff; font-size: 14px;}









.business-div1 h3 {
    font-size: 64px;
    margin: 0 0 12px; line-height: 1.3;
    color: var(--secondary-color);
}

.business-div1 h3 span{display: block;}


.business-div1 p {

    max-width: 473px;
}


.faq-container {
    border-top: 1px solid #ddd;
}


.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; color: #ffffff;

}

.faq-question .icon {
  transition: transform 0.3s ease;
  font-weight: bold;
  font-size: 44px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0;
}

.faq-answer p {
  margin: 10px 0; color: #ffffff;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 10px 0;
}

.faq-item.active .faq-question .icon {
  transform: rotate(180deg);
  color: #ffffff;
}

.accod-btn a {
    font-size: 14px;
}
.accod-btn {
    display: flex;
    justify-content: flex-end;
}





.faq-section .arrow {
    color: #000000;
        margin-right: 5px;

    &::after {
        display: inline-block;
        padding-left: 8px;
        content: "\0279E";
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    &:hover {
        color: var(--primary-color);


        &::after {
            -webkit-transform: translateX(4px);
            -moz-transform: translateX(4px);
            -ms-transform: translateX(4px);
            -o-transform: translateX(4px);
            transform: translateX(4px);
        }
    }
}










.business-wrap {
    padding: 100px 0 349px;
    background: #F1F3F9;
}

.businerr-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-div1 {
    width: 60%;
}

.business-div2 {
    width: 32%;
}

.business-block {
    padding: 30px;
    background: #ffffff;
    margin: 0 0 30px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    position: sticky;
    top: 100px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, .1);
}
.business-block:hover {
    box-shadow: 0 10px 30px hsla(217, 91%, 60%, 0.2);
    border: 1px solid var(--primary-color);
}


.business-block:nth-child(2) {
top: 140px;
}


.business-block:nth-child(3) {
top: 160px; margin-bottom: 0;
}



.content-top {
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 40px;
}

.outer-imgb {
    width: 80px;
}

.outer-imgb img {
    width: 100%;
    display: block;
}

.content-top h3 {
    font-size: 20px;
    width: calc(100% - 80px);
    padding-left: 18px;
    color: var(--secondary-color);
      font-family: 'Avenir-heavy';

}
.content-top h3 span{
  display: block;
}













/* ------------------- */



.business-section {
  width: 100%;
  overflow-x: hidden;
}

.block_top {
  background: #213f29;
  height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 50px;
}

.next_block {
  background: #213f29;
  height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 0px;
  border-radius: 50px;
}

.cards {
  position: relative;
  height: 100vh;
}

.custom-card {
  position: absolute;
  width: 100%;
  height: 85vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.card1 {
  background-color: darkcyan;
  z-index: 2;
}
.card2 {
  background-color: aliceblue;
  z-index: 3;
}
.card3 {
  background-color: green;
  z-index: 4;
}

.spacer {
  height: 50vh;
}




.faq-section{
  background: var(--primary-color);
  padding: 100px 0; position: relative;
}


.faq-section h3 {
    margin: 0 0 50px; color: #ffffff;
    font-size: 64px; line-height: 1.3;
}

.faq-section h3 span {
    display: block;
}




.form-c h3{
  text-align: center;
  color: var(--secondary-color);
    margin: 0 0 30px;
     font-family: 'Avenir-Black';

    font-size: 36px;
}
.form-c p{
  text-align: center;
}

.form-c {
    max-width: 800px;
    margin-inline: auto;
}


.btn-cvr{display: flex; justify-content: flex-end; flex-wrap: wrap; margin: 20px 0 0;}

.btn-cvr .login-btn{width: 450px;}

.b-card .b-img {border-radius: 11px;overflow: hidden;}







.chooseplan h3 {
    text-align: center;
    font-size: 28px;
      font-family: 'Avenir-medium';
}
.business-div21 {
    display: flex;
    flex-wrap: wrap;
}

.get-listedpage .business-block {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 0;
}

.get-listedpage .business-block:nth-child(2n) {
    transform: translateY(-30px);
}

.get-listedpage .business-block:nth-child(3n) {
    margin-right: 0;
}


.pricing-container {
  display: flex;
  flex-wrap: wrap; justify-content: center;
}

.pricing-card {
  border: 1px solid #e4e8ef; width: 41%;
  border-radius: 16px;
  padding: 30px 30px 150px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.3s; margin: 0.7%; position: relative;
}

.pricing-card:nth-child(2){margin-right: 0;}
.chooseplan {
    padding-bottom: 200px;
 background: linear-gradient(
    to top,
    #f1f3fa 0%,               
    rgba(241, 243, 250, 0) 100% 
  );
}
.highlighted {
  border: 1.5px solid #2563eb;
  box-shadow: 0 5px 18px rgba(37, 99, 235, 0.2);
}

.plan-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.price {
  font-size: 48px;
 color: #000000;
}

.per-month {
  font-size: 1rem;
  color: #888;
  font-weight: 400;
}


hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 20px 0;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.features li {
  margin: 10px 0; color: #000000; position: relative; padding-left: 28px;

}
.features li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background: url("../../../public/images/checkimg.svg") no-repeat center;
  background-size: contain;
}

.features button.info-btn {
    position: absolute;
    right: 0;
    bottom: 0; cursor: pointer;
}
.features button.info-btn img {object-fit: contain;}


.btn-outline,
.btn-filled {

  padding: 12px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #2563eb;
  transition: 0.3s; position: absolute; bottom: 30px; right: 0; left: 0; width: calc(100% - 60px); margin-inline: auto;
}
.btn-outline {
  background: transparent;
  color: #2563eb;
}
.btn-filled {
  background: #2563eb;
  color: #fff;
}
.recommended {
  position: absolute;
  top: -10px;
  left: 94px;
  transform: translateX(-50%);
  background: #e0ebff;
  color: #2050f5;
  font-size: 12px;
  padding: 5px 24px;
  border-radius: 4px;
  font-weight: normal;
  font-family: 'Avenir-medium';

}





.g-list .banner-div h2 span {
    display: block;
}




.g-list .banner-div p {
    max-width: 735px;
    margin-inline: auto;
}


.chooseplan h3{
    font-family: 'Avenir-medium';
    font-size: 48px; color: #000000; margin: 0 0 50px;

}



.pricing-card h3{
  font-size: 40px; text-align: left;
  font-family: 'Avenir-Book';
  margin: 0 0 20px; font-size: 24px; font-weight: normal;
}



.how-help {
    padding: 80px 0; text-align: center;  
      background: #f1f3fa;
}
.ch-col{
        background: #f1f3fa;

}


.how-help h2{
  font-size: 48px; margin: 0 0 20px; color: #000000;
}
.how-help p{margin-inline: auto; max-width: 425px;}

.build-outer {
    padding: 80px 0 120px; text-align: center;
}
.buildimg-outer img {
    width: 100%;
        box-shadow: 0 0 200px 200px rgba(255 255 255 / 0.95);
}
.buildimg-outer {
    max-width: 900px;
    margin-inline: auto; position: relative;
}

.build1 h4 {
    font-size: 32px;
    color: #000000;
    margin: 0 0 14px;
}
.build1 {
    position: relative;
    z-index: 9;
}
.build1 p {
    max-width: 571px;
    margin: 0 auto 30px;
}
.build-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.build-card .img-b{width: 60%;
position: relative;
    z-index: 99;}

.build-card .text-areab{width: 28%;}


.h-outer {
    padding: 100px 0;
}

.build-card .img-b img{width: 100%;}


.h-div .h-div1:first-child .build-card {flex-direction: row-reverse; }
.text-areab h4 {
    color: #000000;
    margin: 0 0 14px; font-size: 32px;
}

.build-grad{position: relative;}
.h-div .h-div1{
padding-block: 60px;
}

.h-div .h-div1:first-child:first-child{
  position: relative; margin-bottom: 180px; 
}

.h-div .h-div1:first-child:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
 
   background: linear-gradient(
    90deg,
    #ffffff 0%,       
    #ffffff 60%,     
    #8c9fdd 85%,      
    #2050f5 100%     
  );
  z-index: -1;
}






.h-div .h-div1:nth-child(2){
  position: relative;
}

.h-div .h-div1:nth-child(2)::after{
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 40%; 
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #2050f5 100%);
  border-radius: 0 30px 30px 0;
  z-index: 9;
}


.build-grad::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 55%;
  background: linear-gradient(
    90deg,
    rgba(99, 119, 255, 0) 0%,
    rgba(99, 119, 255, 0.25) 20%,
    rgba(99, 119, 255, 0.25) 80%,
    rgba(99, 119, 255, 0) 100%
  );

  border-radius: 200px;
  filter: blur(0px);
  z-index: -1;

}









/* ------------------------------------responsive */




@media (max-width: 1340px) {

}

/* ----------- */



@media (max-width: 1240px) {


.containers{width: 94%;}




}

/* ----------- */



@media (max-width: 1024px) {


.faq-section,
.business-wrap{padding: 80px 0;}
.ready-div{padding-bottom: 80px;}
.bg-dark-blue{padding-top: 80px;}
.blue-card {gap: 0;justify-content: space-around;}
.blue-card .b-card {width: 32.2%;}
.business-div2 {width: 40%;}

.banner-div h2,
.ready-div h3,
.business-div1 h3,
.faq-section h3  {font-size: 46px;}
.faq-question{font-size: 30px;}
.faq-question .icon {font-size: 38px;}

}


/* ----------- */


@media (max-width: 900px) {
.business-block{padding: 20px;}
.content-top{margin: 0 0 20px;}
.outer-imgb {width: 70px;}
.content-top h3 { width: calc(100% - 70px);}



}

/* ----------- */


@media (min-width: 768px) {

}

/* ----------- */


@media (max-width: 767px) {

.containers{width: 90%;}


.faq-section,
.business-wrap{padding: 50px 0;}
.ready-div{padding-bottom: 50px;}
.bg-dark-blue{padding-top: 50px;}
.blue-card {gap: 0;justify-content: space-around;}
.blue-card .b-card {width: 30%;}
.business-div1{width: 100%; margin: 0 0 50px;}

.business-div2{width: 100%;}

.bg-blue1{background: var(--primary-color); padding-top: 50px;}

.business-block {
    width: 70%;
    margin-inline: auto;
}


.banner-div h2,
.ready-div h3,
.business-div1 h3,
.faq-section h3  {font-size: 36px;}


.faq-section h3 {line-height: 1.4;}


.banner-div p,
.ready-div p {font-size: 14px;}

p {font-size: 14px;}
.b-text h4{font-size: 17px; margin: 0 0 10px;}
.faq-question {font-size: 26px;}

.faq-question .icon {font-size: 30px;}
.banner-div{margin: 0 0 50px;}
}

/* ----------- */



@media (max-width: 600px) {
.blue-card .b-card {
    width: 80%;margin: 0 auto 40px;
}
.blue-card .b-card:last-child{margin-bottom: 0;}
.business-block {width: 80%;}

}


/* ----------- */

@media (max-width: 480px) {
.business-block {width: 100%;}
.search-container button {padding: 15px 20px;}
.search-container input {padding: 12px 12px;}
.blue-card .b-card {
    width: 100%;
}

}
















