
@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.woff');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../fonts/Avenir-Medium.woff');
}
@font-face {
  font-family: 'Avenir-heavy';
  src: url('../fonts/Avenir-Heavy.woff');
}


.thank-btn{background: none; border: 2px solid #000000; color: #000000; padding: 15px 20px; border-radius: 4px;  font-family: 'Avenir-Black'; cursor: pointer; width: 350px;
}
.thank-btn:hover{
    background: #000000; color: #ffffff;
}

/* === Overlay === */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}
.modal-content {
  background: #fff;
  border-radius: 16px;
  width: 320px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: slideUp 0.35s ease;
  min-width: 800px;
}

.modal-content{
  width: 100%;
    max-width: 660px;
    padding: 70px 50px 70px 50px;

}
.modal-content.providesucess{
  padding: 80px;
}

.modal-content.providesucess{
  min-width: 660px;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.modal-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111827;
    font-family: 'Avenir-Black';
}

.modal-content p {
  color: #4b5563;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.4;
}


.proposal-popup .modal-content p {
  margin-bottom: 0px;
}


.proposal-popup  .modal-content{
  position: relative;
  max-height: 90vh;
    height: 100%;
}


.close-btnn1{
  background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
 margin: 20px auto 0;
    padding: 12px 30px;
    font-weight: 600;
    transition: background .3s;
}


.close-btnn1:hover{
  background: #4c72f6;
   
}






.project-edit-popup h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.project-edit-popup h3 {
   
    color: #37a770 !important;
}