
@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.woff');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../fonts/Avenir-Medium.woff');
}
@font-face {
  font-family: 'Avenir-heavy';
  src: url('../fonts/Avenir-Heavy.woff');
}


.thank-btn{background: none; border: 2px solid #000000; color: #000000; padding: 15px 20px; border-radius: 4px;  font-family: 'Avenir-Black'; cursor: pointer; width: 350px; margin: 20px 0 0 ;
}
.thank-btn:hover{
    background: #000000; color: #ffffff;
}

/* === Overlay === */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}
.modal-content {
  background: #fff;
  border-radius: 16px;
  width: 320px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: slideUp 0.35s ease;
  min-width: 800px;
}

.modal-content{
  width: 100%;
    max-width: 660px;
    padding: 70px 50px 70px 50px;

}
.modal-content.providesucess{
  padding: 60px;
}

.modal-content.providesucess{
  min-width: 660px;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.modal-content .providesucess h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px; line-height: 1;
  color: #111827;
    font-family: 'Avenir-Black';
}

.modal-content.providesucess h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px; line-height: 1;
  color: #111827;
    font-family: 'Avenir-Black';
}

.modal-content p {
  color: #4b5563;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.4;
}


.proposal-popup .modal-content p {
  margin-bottom: 0px;
}


.proposal-popup  .modal-content{
  position: relative;
  max-height: 90vh;
    height: 100%;
}


.close-btnn1{
  background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
 margin: 20px auto 0;
    padding: 12px 30px;
    font-weight: 600;
    transition: background .3s;
}


.close-btnn1:hover{
  background: #4c72f6;

}






.project-edit-popup h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.project-edit-popup h3 {
    color: #37a770 !important;
}


.proposal-popup.public-poup .modal-content {
    height: 100vh;
    max-height: 90vh; padding-bottom: 20px;

}

.public-poup .proposal-view{
  display: block;
   color: #2563eb;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    font-family: 'Avenir-Black';
    line-height: 1;
    transition: all .2s ease-in-out;
    border: 2px solid #2563eb; font-size: 19px;
}
.public-poup .proposal-view span {
    display: block;
    font-size: 12px;
    color: #000000; text-align: center;
    margin: 5px 0 0;
  font-family: 'Avenir-medium';

}



.add-sucess{
  color: #00a056;
    background-color: #fff;
    border: 1px solid #00a056;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 0 8px rgba(46, 204, 113, .3);
}
.add-sucess p{
display: flex; flex-wrap: wrap; align-items: center; gap: 6px;
color: #00a056; font-size: 20px; line-height: 1;
}

.add-proj-sucess {
    max-width: 434px;
    max-height: 50px;
    position: absolute;
    top: -88px;
    right: 0;
}

.edit-proj-up{
  position: relative;
}


.edit-proj-sucess{
    max-width: 460px;
    max-height: 50px;
    position: absolute;
    top: -87px;
    right: 0;
}
.add-sucess span img {
    position: relative;
    top: -2px;
}


.fogot-poup .modal-content {
    max-width: 530px;
    min-width: 418px; padding: 50px ;
}

.fogot-poup h2 {
  font-family: 'Avenir-Black';
  font-size: 24px; line-height: 1; margin: 0 0 20px;


}
.myaccount-suc {
    max-width: 328px; position: absolute;
        top: 0;
    right: 0;
}
a.proposal-view {
    color: #2563eb;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    font-family: 'Avenir-Black';
    line-height: 1;
    transition: all .2s ease-in-out;
    border: 2px solid #2563eb; font-size: 19px;
}

.statusmsg-div1.comp-prof .error-msg {
    color: red !important;
    border: 1px solid red;
    box-shadow: 0 0px 8px rgba(255, 0, 0, 0.3) !important;
}

.statusmsg-div1.comp-prof.success-msg{
   color: #00a056 !important;
    border: 1px solid #00a056 !important;
}



.statusmsg-div1.comp-prof p::before{
display: none !important;
}

.statusmsg-div1.comp-prof p{
  padding: 0 !important;
  display: flex;
  gap: 8px;
}


.statusmsg-div1 {
    position: absolute;
    top: 0px;
    z-index: 999;
    right: 100px;
    color: #00a056;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #00a056;
        max-width: 300px;
    max-height: 50px; background-color: #ffffff;
    box-shadow: 0 0 8px rgba(46, 204, 113, .3);
}
.statusmsg-div1 p{
   color: #00a056; line-height: 1; position: relative; padding-left: 20px;
}

.statusmsg-div1 p::before{
    content: "";
    position: absolute;
    background: url(../../../public/images/tik.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
}


/* ------------------------------------------------------- */
@media (max-width: 767px) {


.fogot-poup .modal-content{
  padding: 40px;
}
.thank-btn{padding: 12px 20px; margin: 10px 0 0;}
}

/* ---------------------------------------------------------- */

@media (max-width: 600px) {
.fogot-poup .modal-content{max-width: unset !important;
    min-width: unset !important; width: 90% !important;
}

.fogot-poup h2{font-size: 22px;}

.fogot-poup h2 {
    margin: 0 0 10px;}



}

/* ------------------------------------ */
@media (max-width: 480px) {
.thank-btn{width: 100%; margin: 0 0 0;}

.fogot-poup .modal-content{padding: 40px 30px;}


}