@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.woff');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../fonts/Avenir-Medium.woff');
}
@font-face {
  font-family: 'Avenir-heavy';
  src: url('../fonts/Avenir-Heavy.woff');
}




:root {
  --primary-color: #2050F5;
  --secondary-color: #1b1b25;
  --bg-color: #f1f3fa;
  --warning: #e2da1e;
  --sucess: #1ee288;
  --error-color: #EA1525;
}



.sidebar-div {
    margin-top: 70px;

}
.sidebar-pages {
    width: 100%;
     min-height: 350px;

    width: calc(100% - 250px);
    padding: 0 250px 0 55px;
    /* max-width: 1310px; */
}


.sidebar-pages{
  padding-right: 250px;
}


.sidebarul {
    width: 250px;
     border-right: 1px solid #e0e0e0; height: 100%;

    padding: 0 20px;
}

ul.sidebarul li {

    margin-bottom: 10px; background: #ffffff; border-radius: 12px;
}

ul.sidebarul li a {
    color: #000000;
    padding: 12px 20px;
      font-family: 'Avenir-medium';
          width: 100%;
    display: block; border-radius: 12px;

}
ul.sidebarul li a:hover

{
color: #2050f5;
    background: #f0f2fb;
}
ul.sidebarul li:hover{
       background: #f0f2fb;

}
ul.sidebarul li.active a{
    color: #2050f5;
}
ul.sidebarul li.active{
        background: #f0f2fb;

}
.sidebar-div {
    display: flex;
    flex-wrap: wrap;
}






.public .sidebar-pages {
    padding-left: 0;
}


.seeker-col1 h2 {
    margin: 0 0 10px;
  font-family: 'Avenir-Black';
    font-size: 28px;
    line-height: 1; color: #000000;
}

/* .serv-seeker */
.seeker-div {
    display: flex;
    justify-content: space-between;
    width: 100%; align-items: flex-start;
}






/* ---------resp---------------------------------------- */


@media (max-width: 1340px) {
.sidebarul{
  width: 220px;
}
.sidebar-pages {
    width: calc(100% - 220px);
}
.sidebar-pages{padding-right: 222px;}


.filter-container {
    right: -222px;
}
ul.sidebarul li a {
    padding: 12px 18px;
    font-size: 15px;
}
}

/* ---------------------------------------------- */
@media (min-width: 1025px) and  (max-width: 1240px){
.sidebar-pages{padding-inline: 20px;}

.sidebar-pages:has(.e-main) {
    padding-right: 220px;
}
}
/* ------------------------------------------ */
@media (max-width: 1024px) {
.sidebar-div{margin-top: 0;}

}

/* ----------------------------------------------------- */

@media (min-width: 901px) and  (max-width: 1024px){
.sidebar-pages{padding-inline: 20px;}

.sidebar-pages:has(.e-main) {
    padding-right: 220px;
}
}

/* ------------------------------------------------ */



@media (max-width: 900px) {
.sidebar-pages{padding-inline: 30px !important;width: 100%;}
.wrap-select{padding-inline: 0;}

.sidebar-div{margin-top: 50px;}

}


/* ----------------------------------------------------------------------- */


@media (max-width: 767px) {

  .sidebar-pages{padding-inline: 5% !important;}

}
/* ----------------------------------------------------------------------- */