

@font-face {
  font-family: 'Avenir-Book';
  src: url('../../../fonts/Avenir-Book.woff2');
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../../../fonts/Avenir-Black.woff');
}
@font-face {
  font-family: 'Avenir-medium';
  src: url('../../../fonts/Avenir-Medium.woff');
}
@font-face {
  font-family: 'Avenir-heavy';
  src: url('../../../fonts/Avenir-Heavy.woff');
}


:root {
  --primary-color: #2050F5;
  --secondary-color: #1b1b25;
  --bg-color: #f1f3fa;
  --warning: #e2da1e;
  --sucess: #1ee288;
  --error-color: #EA1525;
}








body{
    font-family: 'Avenir-Book' !important; font-weight: normal !important;

}
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Avenir-Book';
}

.login-card {
max-width: 400px;
  width: 100%;
  padding: 40px; text-align: center; border-radius: 10px;
}


.login-title {
  color: #000000;
  font-size: 28px;
  margin-bottom: 20px !important; margin-top: 0;
}

/* Error message */
.login-error {
 margin-top: 0;
  color: red;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 16px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Labels */
.form-group label {
   all: unset;
 color: #1b1b25;
  font-size: 15px;
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-family: 'Avenir-Book' !important; font-weight: normal !important;

}

/* Inputs */

.site-logo {
    width: 180px;
    margin: 0 auto 30px !important;
}

.site-logo img {
    width: 100%;
    display: block;
    object-fit: contain; border-radius: 0; height: 100%;
}



/* Button */
.login-btn {
     background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border-radius: 5px; border: none;
    width: 100%;
    margin: 20px 0;
    padding: 15px;
  font-family: 'Avenir-Black';
    display: block; outline: none; box-shadow: none !important;
}

.login-btn:hover {
    background: #4c72f6;
}

.login-btn:disabled {
  background-color: #60a5fa;
  cursor: not-allowed;
}


.login-footer {
  color: #94a3b8;
  font-size: 13px;
  margin-top: 20px;
}



.form-group input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  background-color: #ffffff !important;
}





.form-group input {
  outline: none;
width: 100%;
    color: #000; font-size: 15px;
    border: 2px solid #d7dbec;
    border-radius: 4px;
    padding: 20px 15px;
    transition: all .5s ease-in-out; width: 100%;
    box-sizing: border-box;
    background-color: #ffffff !important;
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}

.form-group input::placeholder {
  color: #a3a3a7;
  font-size: 16px;

}


.site-logo img{border: none;}







@media (max-width: 767px) {

.login-error{font-size: 14px;}

}