

.input-field.email-valid {
  border-color: #2ecc71;
  /* background-color: #e6f7ee; */
  background-color: #ffffff;
  position: relative;  padding-right: 50px;
 box-shadow: 0 0 8px rgba(46, 204, 113, 0.6);
 background-color: rgba(46, 204, 113, 0.6) !important;


}


.form-grp input.email-valid:focus{
 border-color: #2ecc71;
  box-shadow: 0 0 8px rgba(46, 204, 113, 0.6);
   /* background-color: rgba(46, 204, 113, 0.6) !important; */
     background-color: #ffffff !important;



}

.form-grp:has(.email-valid) label {
    position: relative;
}
.form-grp:has(.email-valid) label::after{
   content: "";
    position: absolute;
    background: url(../../../../public/images/tik.svg);
    background-repeat: no-repeat;
    right: 15px;
    top: 53px;
    width: 18px;
    height: 18px; z-index: 9999; background-size: 15px;
}



.input-field.email-invalid {
  border-color: #e74c3c;
  box-shadow: 0 0 8px rgba(231, 76, 60, 0.6);
  /* background-color: #fdecea; */
  position: relative;
}

.form-grp input.email-invalid:focus{
 border-color: #e74c3c;
   box-shadow: 0 0 8px rgba(231, 76, 60, 0.6);

}

.input-field.email-invalid::after{
    content: "";
    position: absolute;
    background: url(../../../../public/images/warning-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: 2px;
    width: 15px;
    height: 15px;
}

.form-grp:has(.email-invalid) label {
    position: relative;
}
.form-grp:has(.email-invalid) label::after{
   content: "";
    position: absolute;
    background: url(../../../../public/images/warning-icon.svg);
    background-repeat: no-repeat;
    right: 15px;
    top: 50px;
    width: 18px;
    height: 18px; z-index: 9999; background-size: 15px;
}




.input-field.error-warning {
  border-color: #f1c40f;
  background-color: #fffbe6;
    box-shadow: 0 0 8px rgba(241, 196, 15, 0.6);
}

/* .form-grp input.email-invalid:focus{
 border-color: #e74c3c;
   box-shadow: 0 0 8px rgba(231, 76, 60, 0.6);

} */



/* ------------------------------------------------------------------------- */


@media (max-width: 767px) {

.form-grp:has(.email-valid) label:after{top: 51px;}
.form-grp:has(.email-invalid) label:after{top: 50px;}

}